In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
asfile = pd.read_csv('data_assignment.csv')

In [2]:
#how many records?
asfile.shape[0]

149999

In [3]:
#What perion does it cover (start)
asfile.sort_values(['Date'])
asfile.head(1)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0,30,NaN

In [4]:
#What period does it cover (end)
asfile.tail(1)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
149998,37709311,Network Engineer,Robert Half Technology,2018-11-13T00:00:00.000Z,Perth,"CBD, Inner & Western Suburbs",Information & Communication Technology,Engineering - Network,Our client requires an experienced Network Eng...,<ul>\n <li><strong>Permanent Position...,0,30,Full Time

In [5]:
#How many dates have job postings?
dates = asfile['Date'].value_counts()
datescount = len(dates)
datescount

44

In [6]:
#How many locations?
locations = asfile['Location'].value_counts()
locationscount = len(locations)
locationscount

65

In [7]:
#first row only
# Which location has the most job postings?
locations

Sydney                                  46357
Melbourne                               35315
Brisbane                                16538
Perth                                    9913
Adelaide                                 4998
                                        ...
Coober Pedy & Outback SA                   78
Tumut, Snowy & Monaro                      69
Somerset & Lockyer                         56
Fleurieu Peninsula & Kangaroo Island       53
Central & South East TAS                   36
Name: Location, Length: 65, dtype: int64

In [8]:
#How many sectors
sectors = asfile['Classification'].value_counts()
sectorscount = len(sectors)
sectorscount

30

In [13]:
#list sectors and how many postings
sectors

Information & Communication Technology    16661
Trades & Services                         14125
Healthcare & Medical                      12515
Hospitality & Tourism                     11818
Manufacturing, Transport & Logistics       9608
Administration & Office Support            7636
Accounting                                 7075
Education & Training                       7033
Retail & Consumer Products                 6496
Sales                                      6281
Construction                               6254
Government & Defence                       5926
Engineering                                4812
Mining, Resources & Energy                 4679
Community Services & Development           3528
Banking & Financial Services               3481
Human Resources & Recruitment              3233
Call Centre & Customer Service             3127
Legal                                      3071
Marketing & Communications                 3052
Real Estate & Property                     2729
Design & Architecture                      1379
Insurance & Superannuation                 1144
Consulting & Strategy                       905
Sport & Recreation                          750
Science & Technology                        696
Farming, Animals & Conservation             683
Advertising, Arts & Media                   644
CEO & General Management                    585
Self Employment                              73
Name: Classification, dtype: int64

In [9]:
jobs = asfile['Title'].value_counts()
jobscount = len(jobs)
jobscount

92115

In [10]:
jobs

Project Manager                                           592
Business Analyst                                          392
Business Development Manager                              352
Registered Nurse                                          329
Administration Assistant                                  278
                                                         ...
Practice Lead - QA Engineering                              1
APPLIANCE REPAIR TECHNICIAN                                 1
Production Team Members - Day, Afternoon & Night Shift      1
Assistant Airport Operations Manager                        1
Test Management                                             1
Name: Title, Length: 92115, dtype: int64

In [11]:
locations

Sydney                                  46357
Melbourne                               35315
Brisbane                                16538
Perth                                    9913
Adelaide                                 4998
                                        ...
Coober Pedy & Outback SA                   78
Tumut, Snowy & Monaro                      69
Somerset & Lockyer                         56
Fleurieu Peninsula & Kangaroo Island       53
Central & South East TAS                   36
Name: Location, Length: 65, dtype: int64

In [12]:
dates

2018-10-17T00:00:00.000Z    13059
2018-10-31T00:00:00.000Z     8641
2018-10-04T00:00:00.000Z     8506
2018-10-10T00:00:00.000Z     8337
2018-10-30T00:00:00.000Z     8179
2018-10-18T00:00:00.000Z     8121
2018-11-05T00:00:00.000Z     7778
2018-11-07T00:00:00.000Z     6947
2018-10-09T00:00:00.000Z     6329
2018-10-16T00:00:00.000Z     6267
2018-10-19T00:00:00.000Z     5989
2018-11-12T00:00:00.000Z     5865
2018-10-05T00:00:00.000Z     5711
2018-10-15T00:00:00.000Z     5210
2018-10-08T00:00:00.000Z     4995
2018-10-03T00:00:00.000Z     4945
2018-10-29T00:00:00.000Z     4656
2018-11-06T00:00:00.000Z     3654
2018-11-09T00:00:00.000Z     3377
2018-11-02T00:00:00.000Z     2874
2018-10-02T00:00:00.000Z     1980
2018-10-26T00:00:00.000Z     1701
2018-10-12T00:00:00.000Z     1324
2018-11-01T00:00:00.000Z     1316
2018-10-11T00:00:00.000Z     1221
2018-10-25T00:00:00.000Z     1205
2018-11-08T00:00:00.000Z     1199
2018-10-21T00:00:00.000Z     1145
2018-10-07T00:00:00.000Z     1037
2018-10-01T00:00:00.000Z     1023
2018-11-13T00:00:00.000Z      986
2018-10-24T00:00:00.000Z      835
2018-10-23T00:00:00.000Z      827
2018-11-10T00:00:00.000Z      743
2018-10-22T00:00:00.000Z      688
2018-11-04T00:00:00.000Z      636
2018-11-03T00:00:00.000Z      499
2018-10-06T00:00:00.000Z      471
2018-10-20T00:00:00.000Z      422
2018-11-11T00:00:00.000Z      343
2018-10-28T00:00:00.000Z      291
2018-10-14T00:00:00.000Z      239
2018-10-27T00:00:00.000Z      232
2018-10-13T00:00:00.000Z      196
Name: Date, dtype: int64