In [1]:
# import all libraries requird in the code
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib.image as mpimg
import seaborn as sns
%matplotlib inline

# read in the data from the supplied assignment file and check input via table 
df = pd.read_csv("data_assignment.csv")

In [2]:
#Count number of attributes in each column

#Create lists to hold data in for column names and counts of attributes
attributes_names = ['Id', 'Title', 'Company', 'Date', 'Location', 'Area', 'Classification',
       'Sub-Classification', 'Requirements', 'Full Description', 'Lowest Salary',
       'Highest Salary', 'Job Type']

attribute_counts = []

# Number of ID - records in table
numIds = df['Id'].value_counts()
id_counts = len(numIds)
print(f'There are {id_counts} IDs in the table')
attribute_counts.append(id_counts)
#attributes_names.append(df['Id'])


# Number of different Titles in table
numTitles = df['Title'].value_counts()
title_counts = len(numTitles)
print(f'There are {title_counts} variations of Titles in the table')
attribute_counts.append(title_counts)


# Number of different companies in table
numCompany = df['Company'].value_counts()
company_counts = len(numCompany)
print(f'There are {company_counts} different companies listed in the table')
attribute_counts.append(company_counts)


# How many dates have job postings?
jobpost = df["Date"].value_counts()
num_posted = len(jobpost)
print(f'There are {num_posted} dates that have job postings.')
attribute_counts.append(num_posted)


# Number of different locations in table
numLocations = df['Location'].value_counts()
location_counts = len(numLocations)
print(f'There are {location_counts} different Locations listed in the table')
attribute_counts.append(location_counts)


# Number of Area
numArea = df['Area'].value_counts()
area_counts = len(numArea)
print(f'There are {area_counts} different areas included')
attribute_counts.append(area_counts)


# Number of Job Classification sectors
classes = df['Classification'].value_counts()
class_counts = len(classes)
print(f'There are {class_counts} job sectors')
attribute_counts.append(class_counts)


# Number of Job Sub-Classification sectors
subclasses = df['SubClassification'].value_counts()
subclass_counts = len(subclasses)
print(f'There are {subclass_counts} sub-classification job sectors')
attribute_counts.append(subclass_counts)


# Number of Requirements
required = df['Requirement'].value_counts()
req_counts = len(required)
print(f'There are {req_counts} Requirements listed')
attribute_counts.append(req_counts)


# Number of full descriptions in table
numDesc = df['FullDescription'].value_counts()
desc_counts = len(numDesc)
print(f'There are {desc_counts} Full Descriptions listed in the table')
attribute_counts.append(desc_counts)


# Number of salary ranges in table
high = df['HighestSalary']
low = df['LowestSalary']
ranges = {}
for i in range(len(high)):
    if (low[i], high[i]) not in ranges:
        ranges[(low[i], high[i])] = 1
    else:
        rangecount = ranges[(low[i], high[i])]
        ranges[(low[i], high[i])] = rangecount + 1

range_counts = len(ranges)
print(f'There are {range_counts} salary ranges in the table')
#Highest Salary #
attribute_counts.append(range_counts)
#Lowest Salary #
attribute_counts.append(range_counts)


# Number of job types in table
numJobTypes = df['JobType'].value_counts()
jobtypes_counts = len(numJobTypes)
print(f'There are {jobtypes_counts} different Job Types listed in the table')
attribute_counts.append(jobtypes_counts)

There are 149999 IDs in the table
There are 92115 variations of Titles in the table
There are 26318 different companies listed in the table
There are 44 dates that have job postings.
There are 65 different Locations listed in the table
There are 19 different areas included
There are 30 job sectors
There are 338 sub-classification job sectors
There are 121324 Requirements listed
There are 127676 Full Descriptions listed in the table
There are 11 salary ranges in the table
There are 4 different Job Types listed in the table

In [3]:
#clean table of attributes
pd.Series(attribute_counts,attributes_names)

Id                    149999
Title                  92115
Company                26318
Date                      44
Location                  65
Area                      19
Classification            30
Sub-Classification       338
Requirements          121324
Full Description      127676
Lowest Salary             11
Highest Salary            11
Job Type                   4
dtype: int64